<!-- TODO: make dynamic for each role -->
<div class="mb-5">
    <p class="lead text-end"><i class="far fa-calendar"></i> {{date}}</p>
</div>
<div class="row d-flex align-items-center mb-5">
    <div class="col-lg-4 col-md-12 mb-lg-0 mb-5">
        <img src="assets/img/dashboard/bienvenida.svg" width="300" class="img-fluid">
    </div>
    <div class="col-lg-8 col-md-12">
        <h1>Hola, {{user.name}}</h1>
        <p class="lead" *ngIf="user.role != 1">Hemos preparado para tí los siguientes servicios:</p>
        <p class="lead" *ngIf="user.role == 1">Tu sistema en un vistazo:</p>
        <ng-container *ngIf="user.role == 5">
            <div class="mb-5 d-grid gap-2 d-md-block">
                <a [routerLink]="['/student/new-request']" [queryParams]="{type: 1}" class="btn btn-success"><i class="far fa-calendar-check"></i> Modificar mi carga académica</a>
                <a [routerLink]="['/student/new-request']" [queryParams]="{type: 2}" class="btn btn-warning"><i class="far fa-calendar-minus"></i> Retirar asignaturas</a>
                <a [routerLink]="['/student/requests']" class="btn btn-outline-secondary"><i class="fas fa-history"></i> Historial de solicitudes</a>
            </div>
        </ng-container>
        <ng-container *ngIf="user.role == 4">
            <div class="mb-5 d-grid gap-2 d-md-block">
                <a [routerLink]="['/accountant/requests']" class="btn btn-success"><i class="fas fa-history"></i> Todas las Solicitudes</a>
            </div>
        </ng-container>
        <ng-container *ngIf="user.role == 3">
            <div class="mb-5 d-grid gap-2 d-md-block">
                <a [routerLink]="['/director/requests']" class="btn btn-success"><i class="fas fa-history"></i> Todas las Solicitudes</a>
            </div>
        </ng-container>
        <ng-container *ngIf="user.role == 2">
            <div class="mb-5 d-grid gap-2 d-md-block">
                <a [routerLink]="['/dean/requests']" class="btn btn-success"><i class="fas fa-history"></i> Todas las Solicitudes</a>
            </div>
        </ng-container>
    </div>
</div>
<div class="row d-flex justify-content-center mb-5">
    <ng-container *ngIf="user.role == 1; else requestsTable">
        <div class="text-center mb-5">
            <h2>Estadísticas generales <a><i class="fas fa-redo" (click)="refresh()"></i></a></h2>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card bg-primary text-white h-100">
                <div class="card-body py-5">
                    <h5 class="card-title">Usuarios registrados <i class="fas fa-users"></i></h5>
                    <h1>{{user_total}}</h1>
                </div>
                <div class="card-footer d-flex">
                    <a class="text-decoration-none text-white" [routerLink]="['/admin/users']">Detalles <i class="fas fa-arrow-circle-right"></i></a>
                    <span class="ms-auto">
                        <i class="bi bi-chevron-right"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card bg-warning text-dark h-100">
                <div class="card-body py-5">
                    <h5 class="card-title">Carreras <i class="fas fa-graduation-cap"></i></h5>
                    <h1>{{career_total}}</h1>
                </div>
                <div class="card-footer d-flex">
                    <a class="text-decoration-none text-dark" [routerLink]="['/admin/careers']">Detalles <i class="fas fa-arrow-circle-right"></i></a>
                    <span class="ms-auto">
                        <i class="bi bi-chevron-right"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card bg-success text-white h-100">
                <div class="card-body py-5">
                    <h5 class="card-title">Solicitudes creadas <i class="fas fa-folder-open"></i></h5>
                    <h1>{{request_total}}</h1>
                </div>
                <div class="card-footer d-flex">
                    <a class="text-decoration-none text-white" [routerLink]="['/admin/requests']">Detalles <i class="fas fa-arrow-circle-right"></i></a>
                    <span class="ms-auto">
                        <i class="bi bi-chevron-right"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card bg-secondary text-white h-100">
                <div class="card-body py-5">
                    <h5 class="card-title">Archivos subidos <i class="fas fa-cloud-upload-alt"></i></h5>
                    <h1>{{file_total}}</h1>
                </div>
                <div class="card-footer d-flex">
                    <a class="text-decoration-none text-white" [routerLink]="['/admin/requests']">Detalles <i class="fas fa-arrow-circle-right"></i></a>
                    <span class="ms-auto">
                        <i class="bi bi-chevron-right"></i>
                    </span>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #requestsTable>
        <div class="text-center mb-5">
            <ng-container *ngIf="user.role == 5; else pendingLabel">
                <h2>Solicitudes en curso <a><i class="fas fa-redo" (click)="refresh()"></i></a></h2>
            </ng-container>
            <ng-template #pendingLabel>
                <h2>Solicitudes pendientes <a><i class="fas fa-redo" (click)="refresh()"></i></a></h2>
            </ng-template>
        </div>
        <div class="table-responsive" *ngIf="requests.length != 0; else noRequests">
            <table class="table table-hover table-bordered" *ngFor="let request of requests">
                <thead class="table-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Status</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{request.id}}</th>
                        <td>{{request_types[request.request_type-1].name}}</td>
                        <td>
                            {{request_statuses[request.request_status-1].name}}
                        </td>
                        <td>
                            <a class="btn btn-primary" [routerLink]="['/request-viewer']" [queryParams]="{id: request.id}">
                                <i class="fas fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ng-template #noRequests>
            <div class="row d-flex flex-column align-items-center text-center">
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <div class="mb-5">
                        <img src="assets/img/dashboard/vacio.svg" width="300">
                    </div>
                    <ng-container *ngIf="user.role == 5; else emptyText">
                        <p class="lead">En este momento no tienes solicitudes en curso.</p>
                    </ng-container>
                    <ng-template #emptyText>
                        <p class="lead">En este momento no tienes solicitudes pendientes de revisión.</p>
                    </ng-template>
                </div>
            </div>
        </ng-template>
    </ng-template>
</div>