<div class="container-fluid">
    <div class="row min-vh-100 d-flex flex-column justify-content-center align-items-center text-center">
        <div class="col-lg-5 col-md-12 col-sm-12 ">
            <div class="mb-5">
                <a [routerLink]="['/login']">
                    <img src="assets/img/smcar_logo.svg" width="200" class="img-fluid">
                </a>
            </div>
            <ng-container *ngIf="this.isOk == true; else tokenError">
                <div class="mb-5">
                    <img src="assets/img/dashboard/ok.svg" width="300" class="img-fluid">
                </div>
                <h4 class="display-4 mb-5">Recuperar Contraseña</h4>
                <p class="lead mb-5">{{this.resp}}</p>
                <div class="mb-5 d-grid gap-2 d-md-block">
                    <a [routerLink]="['/login']" class="btn btn-primary"><i class="las la-sign-in-alt"></i> Iniciar sesión</a>
                </div>
            </ng-container>
            <ng-template #tokenError>
                <div class="mb-5">
                    <img src="assets/img/dashboard/denegado.svg" width="300" class="img-fluid">
                </div>
                <h4 class="display-4 mb-5">Recuperar Contraseña</h4>
                <p class="lead mb-5">{{this.resp}}</p>
            </ng-template>
            <p class="text-muted mb-0">&copy; Universidad Iberoamericana del Ecuador</p>
        </div>
    </div>
</div>