<div class="mb-5">
  <label for="nombre" class="form-label">Nombre completo <span *ngIf="name == ''" class="ms-2 badge bg-danger">Incorrecto</span></label>
  <input type="text" class="form-control" id="nombre" [(ngModel)]="name">
</div>
<div class="mb-5">
  <label for="correo" class="form-label">Correo electrónico <span *ngIf="!email_validated" class="ms-2 badge bg-danger">Incorrecto</span></label>
  <input type="email" class="form-control" id="correo" [(ngModel)]="email" (input)="validate_email()">
</div>
<div class="d-grid gap-2">
  <button type="button" class="btn btn-primary" (click)="register()"><i class="fas fa-user-plus"></i> Registrarse</button>
  <button type="button" class="btn btn-success" (click)="change_page('Autenticación')"><i class="fas fa-sign-in-alt"></i> Iniciar sesión</button>
</div>