<!-- <nav class="sidebar bg-dark">
  <div class="list-group">
    <div *ngFor="let item of menu">
      <div *ngIf="item.class == ''">
        <span *ngFor="let list_group_item of item.items">
          <a *ngIf="aviable(list_group_item.rols_able)"
          [routerLink]="[list_group_item.link]"
          [routerLinkActive]="['router-link-active']"
          [class]="list_group_item.class">
          <i [class]="list_group_item.icon" style="width:25px;"></i>&nbsp;&nbsp;&nbsp;<small [innerHtml]="list_group_item.text"></small>
        </a>
      </span>
    </div>
    <div *ngIf="item.class == 'nested-menu'" [class]="item.class">
      <a *ngIf="aviable(item.rols_able)" class="list-group-item" (click)="addExpandClass(item.expand_class)">
        <span><i [class]="item.icon" style="width:25px;"></i>&nbsp;&nbsp;&nbsp;<small [innerHtml]="item.text"></small></span>
      </a>
      <li class="nested" [class.expand]="showMenu == item.expand_class">
        <ul class="submenu">
          <li *ngFor="let list_group_item of item.items">
            <a *ngIf="aviable(list_group_item.rols_able)"
            [routerLink]="[list_group_item.link]"
            [routerLinkActive]="['router-link-active']"
            [class]="list_group_item.class">
            <i [class]="list_group_item.icon" style="width:25px;"></i>&nbsp;&nbsp;&nbsp;<small [innerHtml]="list_group_item.text"></small>
          </a>
        </li>
      </ul>
    </li>
  </div>
</div>
<div>
  <div class="nested-menu">
    <a class="list-group-item" (click)="addExpandClass('profile')">
      <span><i class="fas fa-user" style="width:25px;"></i>&nbsp;&nbsp;&nbsp;<small>{{user.fullname}}</small></span>
    </a>
    <li class="nested" [class.expand]="showMenu == 'profile'">
      <ul class="submenu">
        <li>
          <a [routerLink]="['/profile']" [routerLinkActive]="['router-link-active']">
            Perfil
          </a>
        </li>
        <li>
          <a (click)="logout()">
            Cerrar Sesión
          </a>
        </li>
      </ul>
    </li>
  </div>
</div>
</div>
</nav> -->

<div class="offcanvas offcanvas-start bg-dark text-white sidebar-nav" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
  <div class="offcanvas-body px-0">
    <nav class="navbar-dark">
      <ul class="navbar-nav">
        <li>
          <div class="text-muted small fw-bold px-3">DASHBOARD</div>
        </li>
        <li>
          <a href="#" class="nav-link px-3 active">
            <i class="las la-home me-2"></i> Inicio
          </a>
        </li>
        <li class="my-4">
          <hr class="dropdown-divider">
        </li>
        <li>
          <div class="text-muted small fw-bold px-3">SERVICIOS</div>
        </li>
        <li>
          <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseServicios" role="button" aria-expanded="false" aria-controls="collapseServicios">
            <i class="las la-plus-circle me-2"></i> Crear solicitud
            <i class="dropdown-toggle right-icon ms-auto"></i>
          </a>
          <div class="collapse" id="collapseServicios">
            <div>
              <ul class="navbar-nav ps-3">
                <li>
                  <a href="#" class="nav-link px-3">
                    <i class="las la-calendar me-2"></i> Modificar mi carga académica
                  </a>
                </li>
              </ul>
              <ul class="navbar-nav ps-3">
                <li>
                  <a href="#" class="nav-link px-3">
                    <i class="las la-user-times me-2"></i> Retirarse de la Universidad
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="my-4">
          <hr class="dropdown-divider">
        </li>
        <li>
          <div class="text-muted small fw-bold px-3">HISTÓRICO</div>
        </li>
        <li>
          <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseHistorico" role="button" aria-expanded="false" aria-controls="collapseHistorico">
            <i class="las la-history me-2"></i> Mis solicitudes
            <i class="dropdown-toggle right-icon ms-auto"></i>
          </a>
          <div class="collapse" id="collapseHistorico">
            <div>
              <ul class="navbar-nav ps-3">
                <li>
                  <a href="#" class="nav-link px-3">
                    <i class="las la-spinner me-2"></i> En curso
                  </a>
                </li>
              </ul>
              <ul class="navbar-nav ps-3">
                <li>
                  <a href="#" class="nav-link px-3">
                    <i class="las la-list me-2"></i> Todas
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="my-4">
          <hr class="dropdown-divider">
        </li>
        <li>
          <div class="text-muted small fw-bold px-3">CUENTA</div>
        </li>
        <li>
          <a href="#" class="nav-link px-3">
            <i class="las la-user-edit me-2"></i> Editar perfil
          </a>
        </li>
        <li>
          <a href="#" class="nav-link px-3">
            <i class="las la-sign-out-alt me-2"></i> Cerrar sesión
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>