// variables
$offcanvas-width: 270px;
$topNavbarHeight: 56px;

// offcanvas sidebar
.sidebar-nav {
  width: $offcanvas-width;
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - $topNavbarHeight);
    top: $topNavbarHeight;
  }
}
