<div class="container-fluid">
    <div class="row d-flex flex-column align-items-center text-center my-5">
        <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="mb-5">
                <img src="assets/img/dashboard/denegado.svg" width="300" class="img-fluid">
            </div>
            <h4 class="display-4 mb-5">Error 403</h4>
            <p class="lead mb-5">Usted no tiene permiso para acceder al recurso solicitado.</p>
            <p class="text-muted mb-0">&copy; Universidad Iberoamericana del Ecuador</p>
        </div>
    </div>
</div>