<h1 class="display-5 mb-5">Administrador de Roles</h1>
<div class="row d-flex mb-5">
    <div class="col-12 mb-5">
        <table class="table table-hover table-bordered table-responsive">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Arréglame: implementar inline edit -->
                <tr *ngFor="let role of roles" (click)="select_role(role)">
                    <th scope="row">
                        {{role.id}}
                    </th>
                    <td>
                        <span *ngIf="selected_role !== role || (selected_role == role && !isEditing)">{{role.name}}</span>
                        <input *ngIf="selected_role == role && isEditing" type="text" class="form-control" [(ngModel)]="role.name"/>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" (click)="edit_role()" *ngIf="!isEditing || selected_role != role">
                            <i class="las la-edit"></i> Editar rol
                        </button>
                        <button type="button" class="btn btn-success" *ngIf="selected_role == role && isEditing" (click)="update_role(role)">
                            <i class="las la-save"></i> Actualizar rol
                        </button>
                        <button type="button" class="btn btn-danger" *ngIf="selected_role == role && isEditing" (click)="delete_role(role)">
                            <i class="las la-trash"></i> Eliminar rol
                        </button>
                        <button type="button" class="btn btn-warning" (click)="edit_role()" *ngIf="selected_role == role && isEditing">
                            <i class="las la-ban"></i> Cancelar
                        </button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="text" class="form-control" id="new_rol_name" [(ngModel)]="new_role_name"/></td>
                    <td>
                        <button type="button" class="btn btn-success" (click)="create_role()">
                            <i class="las la-plus"></i> Crear rol
                        </button>
                        <button type="button" class="btn btn-warning" (click)="refresh()">
                            <i class="las la-ban"></i> Cancelar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>