<h1 class="display-5 mb-5">Roles</h1>
<div class="row d-flex mb-5">
    <div class="col-12 table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="table-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre del Rol</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let role of roles | orderBy: order" (click)="select_role(role)">
                    <th scope="row">
                        {{role.id}}
                    </th>
                    <td>
                        <span *ngIf="selected_role !== role || (selected_role == role && !isEditing)">{{role.name}}</span>
                        <input *ngIf="selected_role == role && isEditing" type="text" class="form-control" [(ngModel)]="role.name"/>
                    </td>
                    <td>
                        <!-- don't allow to modify essential roles -->
                        <div class="d-grid gap-2 d-md-block" *ngIf="![1, 2, 3, 4, 5].includes(role.id)">
                            <button type="button" class="btn btn-primary" *ngIf="!isEditing || selected_role != role" (click)="edit_role()">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button type="button" class="btn btn-success" *ngIf="selected_role == role && isEditing" (click)="update_role(role)">
                                <i class="fas fa-save"></i>
                            </button>
                            <button type="button" class="btn btn-warning" *ngIf="selected_role == role && isEditing" (click)="edit_role()">
                                <i class="fas fa-ban"></i>
                            </button>
                            <button type="button" class="btn btn-danger" *ngIf="!isEditing || selected_role != role" (click)="delete_role(role)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="text" class="form-control" id="new_rol_name" [(ngModel)]="new_role_name"/></td>
                    <td>
                        <div class="d-grid gap-2 d-md-block">
                            <button type="button" class="btn btn-success" (click)="create_role()">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<button type="button" class="btn btn-primary mb-5" (click)="refresh()">
    <i class="fas fa-redo"></i> Refrescar
</button>