<h1 class="display-5 mb-5">Decanos</h1>
<div class="row d-flex mb-5">
    <div class="col-12 table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="table-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre del Decano</th>
                    <th scope="col">Número de cédula</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dean of deans | orderBy: order" (click)="select_dean(dean)">
                    <th scope="row">
                        {{dean.id}}
                    </th>
                    <td>
                        <span *ngIf="selected_dean !== dean || (selected_dean == dean && !isEditing)">{{dean.name}}</span>
                        <input *ngIf="selected_dean == dean && isEditing" type="text" class="form-control" [(ngModel)]="dean.name"/>
                    </td>
                    <td>
                        <span *ngIf="selected_dean !== dean || (selected_dean == dean && !isEditing)">{{dean.identification}}</span>
                        <input *ngIf="selected_dean == dean && isEditing" type="text" class="form-control" [maxlength]="10" [(ngModel)]="dean.identification"/>
                    </td>
                    <td>
                        <div class="d-grid gap-2 d-md-block">
                            <button type="button" class="btn btn-primary" *ngIf="!isEditing || selected_dean != dean" (click)="edit_dean()">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button type="button" class="btn btn-success" *ngIf="selected_dean == dean && isEditing" (click)="update_dean(dean)">
                                <i class="fas fa-save"></i>
                            </button>
                            <button type="button" class="btn btn-warning" *ngIf="selected_dean == dean && isEditing" (click)="edit_dean()">
                                <i class="fas fa-ban"></i>
                            </button>
                            <button type="button" class="btn btn-danger" *ngIf="!isEditing || selected_dean != dean" (click)="delete_dean(dean)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="text" class="form-control" [(ngModel)]="new_dean.name"/></td>
                    <td><input type="text" class="form-control" [maxlength]="10" [(ngModel)]="new_dean.identification"/></td>
                    <td>
                        <div class="d-grid gap-2 d-md-block">
                            <button type="button" class="btn btn-success" (click)="create_dean()">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<button type="button" class="btn btn-primary mb-5" (click)="refresh()">
    <i class="fas fa-redo"></i> Refrescar
</button>