<div class="mb-5">
  <label for="correo" class="form-label">Correo electrónico <span *ngIf="!email_validated" class="ms-2 badge bg-danger">Incorrecto</span></label>
  <input type="email" class="form-control" id="correo" [(ngModel)]="email" (input)="validate_email()">
</div>
<div class="mb-5">
  <re-captcha [(ngModel)]="captcha"></re-captcha>
</div>
<div class="d-grid gap-2 mb-5">
  <button type="button" class="btn btn-primary" (click)="password_recovery()"><i class="fas fa-paper-plane"></i> Enviar correo de recuperación</button>
  <button type="button" class="btn btn-success" (click)="change_page('Iniciar Sesión')"><i class="fas fa-sign-in-alt"></i> Iniciar sesión</button>
</div>