<h1 class="display-5 mb-5">Usuarios</h1>
<div class="row d-flex mb-5">
    <div class="col-12 table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="table-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Número de cédula</th>
                    <th scope="col">Correo Electrónico</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users | orderBy: order" (click)="select_user(user)">
                    <th scope="row">
                        {{user.id}}
                    </th>
                    <td>
                        <span *ngIf="selected_user !== user || (selected_user == user && !isEditing)">{{user.name}}</span>
                        <input *ngIf="selected_user == user && isEditing" type="text" class="form-control" [(ngModel)]="user.name"/>
                    </td>
                    <td>
                        <span *ngIf="selected_user !== user || (selected_user == user && !isEditing)">{{user.identification}}</span>
                        <input *ngIf="selected_user == user && isEditing" type="text" class="form-control" [(ngModel)]="user.identification" [maxlength]="10"/>
                    </td>
                    <td>
                        <span *ngIf="selected_user !== user || (selected_user == user && !isEditing)">{{user.email}}</span>
                        <input *ngIf="selected_user == user && isEditing" type="text" class="form-control" [(ngModel)]="user.email"/>
                    </td>
                    <td>
                        <select class="form-select" *ngIf="selected_user !== user || (selected_user == user && !isEditing)"  [(ngModel)]="user.role_id" [disabled]="true">
                            <option [ngValue]="role.id" *ngFor="let role of roles">{{role.name}}</option>
                        </select>
                        <select class="form-select" *ngIf="selected_user == user && isEditing" [(ngModel)]="user.role_id">
                            <option [ngValue]="role.id" *ngFor="let role of roles | orderBy: order">{{role.name}}</option>
                        </select>
                    </td>
                    <td>
                        <div class="d-grid gap-2 d-md-block">
                            <button type="button" class="btn btn-primary" *ngIf="!isEditing || selected_user != user" (click)="edit_user()">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button type="button" class="btn btn-success" *ngIf="selected_user == user && isEditing" (click)="update_user(user)">
                                <i class="fas fa-save"></i>
                            </button>
                            <button type="button" class="btn btn-danger" *ngIf="selected_user == user && isEditing" (click)="reset_user_password(user)">
                                <i class="fas fa-key"></i>
                            </button>
                            <button type="button" class="btn btn-warning" *ngIf="selected_user == user && isEditing" (click)="edit_user()">
                                <i class="fas fa-ban"></i>
                            </button>
                            <button type="button" class="btn btn-danger" *ngIf="!isEditing || selected_user != user" (click)="delete_user(user)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="text" class="form-control" [(ngModel)]="new_user.name"/></td>
                    <td><input type="text" class="form-control" [(ngModel)]="new_user.identification" [maxlength]="10"/></td>
                    <td><input type="text" class="form-control" [(ngModel)]="new_user.email"/></td>
                    <td>
                        <select class="form-select" [(ngModel)]="new_user.role">
                            <option [ngValue]="role.id" *ngFor="let role of roles | orderBy: order">{{role.name}}</option>
                        </select>
                    </td>
                    <td>
                        <div class="d-grid gap-2 d-md-block">
                            <button type="button" class="btn btn-success" (click)="create_user()">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<button type="button" class="btn btn-primary mb-5" (click)="refresh()">
    <i class="fas fa-redo"></i> Refrescar
</button>