.user-dropdown {
    position: absolute !important;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

.barras-navbar {
  font-size: 30px;
}