<h1 class="display-5 mb-5">Mi perfil</h1>
<div class="row d-flex mb-5">
  <div class="col-lg-2 col-md-12 mb-lg-0 mb-5">
    <img src="assets/img/dashboard/avatar.svg" width="100" class="img-fluid">
  </div>
  <div class="col-lg-10 col-md-12">
    <h3>{{user.name}}</h3>
    <p class="lead">{{correo}}</p>
  </div>
</div>
<div class="row d-flex mb-5">
  <div class="col-lg-6 col-md-12 mb-lg-0 mb-5">
    <h2 class="mb-5">Datos personales</h2>
    <div class="mb-5">
      <label class="form-label">Nombre</label>
      <label class="form-control">{{user.name}}</label>
    </div>
    <div class="mb-5">
      <label class="form-label">Correo electrónico</label>
      <input type="email" class="form-control" [(ngModel)]="user.email">
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <h2 class="mb-5">Seguridad</h2>
    <div class="mb-5">
      <label class="form-label">Nueva contraseña</label>
      <input type="password" class="form-control" [(ngModel)]="new_password">
    </div>
    <div class="mb-5">
      <label class="form-label">Repetir nueva contraseña</label>
      <input type="password" class="form-control" [(ngModel)]="password_confirm">
    </div>
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="save_profile()"><i class="las la-save"></i> Guardar cambios</button>
    <button type="button" class="btn btn-danger" (click)="reset()"><i class="las la-trash"></i> Cancelar</button>
  </div>
</div>